[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty URL Launcher
GenericName=Terminal emulator
Comment=Open URLs with alacritty
TryExec=alacritty
Exec=alacritty --working-directory %U
Icon=Alacritty
Categories=System;TerminalEmulator;
NoDisplay=true
